fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
openai
alembic
annotated-doc
annotated-types
anyio
certifi
click
distro
h11
httpcore
httpx
idna
jiter
Mako
MarkupSafe
pydantic_core
sniffio
starlette
tqdm
typing-inspection
typing_extensions
email-validator
google-genai
